# Virtual environments
.venv/
.venv312/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Model files
*.h5
*.keras
*.pkl

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
